{% extends 'base.html' %}

{% block title %}
    Все новости
{% endblock %}

{% block nav %}
    <a href="{% url "news_website:all_news_type" %}"> Главная </a>
    {% for news_type in news_type %}
        <a class="nav-link active" href="{{ news_type.get_absolute_url }}">{{ news_type.title }}</a>
    {% endfor %}
{% endblock %}

{% block body %}
        <div class ="text-center">
            <h1>Новости:</h1>
        </div>
        {% for news in news %}
            <div class="card">
            <img src="{{news.title_image.url}}" class="card-img-top" alt="alt text" height="300">
                <div class="card-body">
                    <h5 class="card-title">{{ news.title }}</h5>
                    <p class="card-text">{{ news.body|truncatewords:5 }}</p>
                    <a href="{{ news.get_absolute_url }}" class="btn btn-primary">Читать полностью</a>
                </div>
            </div>
        {% endfor %}
    <div class = "text-center">
        {% include "pagination.html" with page=news %}
    </div>
{% endblock %}

{% block menu %}

{% endblock %}