{% load bootstrap4 %}
{% load static %}
{% bootstrap_css %}
{% bootstrap_javascript %}



<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>{% block title %}MY NEWS BLOG{% endblock %}</title>

</head>

<body>
{#header#}
    <header>
    <nav class="navbar navbar-light bg-light">
      <span class="navbar-brand mb-0 h1">Мой новостной блог</span>
        <form action="{% url 'news_website:all_news_type' %}" method="get">
            <input name="q" type="text" placeholder="Search...">
        </form>
        {% if request.user.is_authenticated %}
            <div class = "text-right">
                <a href="{% url "news_website:logout" %}">Выйти </a>
                <a href="{% url "news_website:profile" %}">Профиль </a>
            </div>
        {% else %}
            <div class = "text-right">
                <a href="{% url "news_website:login" %}">Войти </a>
                <a href="{% url "news_website:register" %}">Регистрация </a>
            </div>
        {% endif %}
    </nav>
    </header>
{#    navbar#}
    <nav class="navbar navbar-light bg-light">
        {% block nav %}{% endblock %}
    </nav>
{#mainbody#}
    <div class="row ">
        <div class="col"></div>
        <div class="col-8">
            {% block body %}{% endblock %}
        </div>
        <div class="col"></div>
    </div>
