{% extends 'base.html' %}

{% block title %}
    Профиль
{% endblock %}

{% block body %}
       <div class="row ">
            <div class="col-2">
                <img src="{{ user.profile.photo.url }} "height="200"  alt="alt text" class="rounded-circle">
            </div>
            <div class="col">
                <p>Приветствую,{{ user.first_name }}, {{ user.last_name }}</p>
                <a href="{% url "news_website:edit_profile" %}">Изменить профиль </a>
                <a href="{% url "news_website:password_change" %}">Сменить пароль </a>
                <a href="{% url "news_website:all_news_type" %}"> Вернуться на главную </a>
            </div
        </div>
{% endblock %}
