{% extends 'base.html' %}

{% block title %}
    {{ news.title }}
{% endblock %}

{% block body %}
    <a href="{% url "news_website:all_news" %}"> Главная </a>
    <p> <img src="{{news.title_image.url}}" height="100" alt="alt text"></p>
    <h1>{{ news.title }}</h1>
{#    <p>{{ news.material_type }}</p>#}
    <p>{{ news.body }}</p>
    Published: {{ news.publish }}
    <a href="{% url "news_website:share_post" news.id %}">Share</a>
<br>
    {% for comment in news.comments.all %}
        {{ comment.name }} at {{ comment.created }}:<br>
        {{ comment.body }} <br> <br>
    {% endfor %}

     <form action="" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="submit" value="Add comment!">
     </form>
{% endblock %}