{% extends "base.html" %}

{% block title %}Сброс пароля{% endblock %}

{% block body %}
  <h1>сброс пароля</h1>
  {% if validlink %}
    <p>Пожалуйста,введите и подтвердите новый пароль:</p>
    <form action="." method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <p><input type="submit" value="Change my password" /></p>
    </form>
  {% else %}
      <div class="alert alert-warning" role="alert">
        <p>Ссылка для сброса пароля недействительна, возможно, потому, что она уже использовалась.
        Пожалуйста, запросите новый сброс пароля.</p>
      </div>
  {% endif %}
{% endblock %}